body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 800px; /* Ancho del contenedor */
}

#question-container {
    margin-bottom: 20px;
    font-size: 24px; /* Tamaño de la fuente en el input */
}

#answer {
    width: 80px; /* Ancho del campo de entrada */
    height: 40px; /* Alto del campo de entrada */
    text-align: center;
    font-size: 24px; /* Tamaño de la fuente en el input */
}

.btn {
    font-size: 20px; /* Tamaño de la fuente del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    margin-top: 10px; /* Margen superior para separación */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
}

#next {
    display: none;
    margin-top: 20px;
}

#timer, #score {
    margin-bottom: 10px;
}

.heart {
    color: red;
    font-size: 24px; /* Tamaño del corazón */
    margin: 0 2px;
}
