* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px; /* Ancho máximo para pantallas grandes */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#timer, #score {
    margin-bottom: 10px;
    font-size: 1.2em;
}

#lives {
    margin-bottom: 10px;
}

.heart {
    color: red;
    font-size: 1.5em;
    margin: 0 5px;
}

#question-container {
    margin-bottom: 20px;
}

#answer {
    width: 60px;
    text-align: center;
    font-size: 1.2em;
    margin: 0 10px;
}

#submit, #next {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-top: 10px;
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
}
