body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-size: 20px; /* Aumenta el tamaño de la fuente */
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#question-container {
    margin-bottom: 20px;
}

#answer {
    width: 100px; /* Aumenta el ancho del campo de entrada */
    height: 40px; /* Aumenta la altura del campo de entrada */
    text-align: center;
    font-size: 20px; /* Aumenta el tamaño de la fuente en el input */
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
}

#next {
    display: none;
    margin-top: 20px;
    font-size: 18px; /* Aumenta el tamaño del botón */
    padding: 10px 20px; /* Aumenta el tamaño del botón */
}

#submit {
    font-size: 20px; /* Aumenta el tamaño del botón */
    padding: 10px 20px; /* Aumenta el tamaño del botón */
}

#timer, #score {
    margin-bottom: 10px;
    font-size: 18px;
}

#lives {
    margin-bottom: 10px;
}

.heart {
    color: red;
    font-size: 24px; /* Tamaño del corazón */
    margin: 0 5px;
}
