body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 800px; /* Ancho del contenedor */
}

#question-container {
    margin-bottom: 20px;
    font-size: 24px; /* Tama침o de la fuente en el input */
}

#answer {
    width: 80px; /* Ancho del campo de entrada */
    height: 40px; /* Alto del campo de entrada */
    text-align: center;
    font-size: 24px; /* Tama침o de la fuente en el input */
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
}

#next {
    display: none;
    margin-top: 20px;
}

#timer, #score {
    margin-bottom: 10px;
}

.heart {
    color: red;
    font-size: 24px; /* Tama침o del coraz칩n */
    margin: 0 2px;
}
